/.idea

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/node_modules/
# WhatsApp Web.js
/.wwebjs_cache
/.wwebjs_auth
 
.env
bot-ventas-464822-65d81a43271f.json